name: artifact

on: [push]

env:
  MY_ARTIFACT = newartifact
  
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    # Step 1
      - name: Check out the code
        uses: actions/checkout@v3
    # Step 2    
      - name: Upload the artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.MY_ARTIFACT }}
          path: .        

